<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.mapper.MenuMapper">

    <resultMap type = "com.example.domain.entity.Menu" id = "MenuMap">
        <result property = "id" column = "id" jdbcType = "INTEGER"/>
        <result property = "menuName" column = "menu_name" jdbcType = "VARCHAR"/>
        <result property = "parentId" column = "parent_id" jdbcType = "INTEGER"/>
        <result property = "orderNum" column = "order_num" jdbcType = "INTEGER"/>
        <result property = "path" column = "path" jdbcType = "VARCHAR"/>
        <result property = "component" column = "component" jdbcType = "VARCHAR"/>
        <result property = "isFrame" column = "is_frame" jdbcType = "INTEGER"/>
        <result property = "menuType" column = "menu_type" jdbcType = "VARCHAR"/>
        <result property = "visible" column = "visible" jdbcType = "VARCHAR"/>
        <result property = "status" column = "status" jdbcType = "VARCHAR"/>
        <result property = "perms" column = "perms" jdbcType = "VARCHAR"/>
        <result property = "icon" column = "icon" jdbcType = "VARCHAR"/>
        <result property = "createBy" column = "create_by" jdbcType = "INTEGER"/>
        <result property = "createTime" column = "create_time" jdbcType = "TIMESTAMP"/>
        <result property = "updateBy" column = "update_by" jdbcType = "INTEGER"/>
        <result property = "updateTime" column = "update_time" jdbcType = "TIMESTAMP"/>
        <result property = "remark" column = "remark" jdbcType = "VARCHAR"/>
        <result property = "delFlag" column = "del_flag" jdbcType = "VARCHAR"/>
    </resultMap>


    <select id = "selectMenusByUserId" resultType = "com.example.domain.entity.Menu">
        SELECT
            m.*
        FROM
            `sys_user_role` ur
            LEFT JOIN `sys_role_menu` rm ON ur.`role_id` = rm.`role_id`
            LEFT JOIN `sys_menu` m ON m.`id` = rm.`menu_id`
        WHERE
            ur.`user_id` = #{userId} AND
            m.`menu_type` IN (#{menuType1},#{menuType2}) AND
            m.`status` = #{status} AND
            m.`del_flag` = #{del_flag}
        ORDER BY
            m.parent_id,m.order_num
    </select>

    <select id = "getRoleMenuTreeselect" resultType = "com.example.domain.entity.Menu">
        WITH RECURSIVE menu AS (
            SELECT * FROM sys_menu m WHERE m.id IN (SELECT srm.menu_id FROM sys_role_menu srm WHERE srm.role_id = #{roleId})
            UNION ALL
            SELECT sys_menu.* FROM sys_menu INNER JOIN menu ON sys_menu.parent_id = menu.id
        )
        SELECT * FROM menu WHERE menu.del_flag = 0 ORDER BY order_num, id;
    </select>

</mapper>

