##导入宏定义
$!{define.vm}

##保存文件（宏定义）
#save("/entity", ".java")

##包路径（宏定义）
#setPackageSuffix("entity")

##自动导入包（全局变量）
$!{autoImport.vm}
##import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiModel;
import lombok.AllArgsConstructor;
import lombok.NoArgsConstructor;
import lombok.Data;

##表注释（宏定义）
#tableComment("表实体类")
@TableName(value="${tableClass.getName}")
@ApiModel(value="${tableClass.name}对象", description="${tableClass.comment}")
@SuppressWarnings(value={"serial", "unused"})
@AllArgsConstructor
@NoArgsConstructor
@Data
public class $!{tableInfo.name} {

## 生成主键列
#foreach($column in $tableInfo.pkColumn)
    #if(${column.name})
@TableId(value="${column.name}")
    #end
@ApiModelProperty(value="${column.comment}")
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

#end

## 生成 非主键列
#foreach($column in $tableInfo.otherColumn)
    ##if(${column.comment})//${column.comment}#end
#if(${column.comment})
@TableField(value="${column.name}")
#end
    @ApiModelProperty(value="${column.comment}")
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
    
#end

#foreach($column in $tableInfo.fullColumn)
#getSetMethod($column)
#end

##foreach($column in $tableInfo.pkColumn)
##    /**
##     * 获取主键值
##     *
##     * @return 主键值
##     */
##    @Override
##    protected Serializable pkVal() {
##        return this.$!column.name;
##    }
##    #break
## #end
}
